{
  "action" : "actions",
  "list" : [
        {
      "action" : "sound",
      "options" : [ "/guns/RocketLauncher/sfx/RocketExplosion.ogg" ]
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 3,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 100,
      "delaySteps" : 0
    }
  ]
}
